<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <authentication>
        <!--<basicAuthentication enabled="false" />-->
      </authentication>
    </security>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="ED3A0F3DC58460F7E0B7E70B1CEA02A0B64231D59DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" />
   
  </system.web>
  <appSettings>
    <add key="reduceMax" value="12000" />
  </appSettings>
 
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=gdfl2pg18b.database.windows.net;Initial Catalog=ForestFindr;Persist Security Info=True;User ID=forestfindr;Password=c@r0lina123;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connect Timeout=50;" />
    <add name="ForestFindrEntities" connectionString="metadata=res://*/Model.CountrysModel.csdl|res://*/Model.CountrysModel.ssdl|res://*/Model.CountrysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=gdfl2pg18b.database.windows.net;Initial Catalog=ForestFindr;Persist Security Info=True;User ID=forestfindr;Password=c@r0lina123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="ForestFindrEntities" connectionString="metadata=res://*/Model.CountrysModel.csdl|res://*/Model.CountrysModel.ssdl|res://*/Model.CountrysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Rui-PC\SQLEXPRESS;Initial Catalog=ForestFindr;Persist Security Info=True;User ID=ruiteste;Password=carolina;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="ForestFindrEntities" connectionString="metadata=res://*/Model.CountrysModel.csdl|res://*/Model.CountrysModel.ssdl|res://*/Model.CountrysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=gdfl2pg18b.database.windows.net;Initial Catalog=ForestFindr;Persist Security Info=True;User ID=forestfindr;Password=c@r0lina123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ForestFindr.Services.XAMLBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="StreamedHttp1" transferMode="StreamedResponse" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="StreamedHttp1" transferMode="StreamedResponse" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ForestFindr.Services.XAMLBehavior" name="ForestFindr.Services.XAML">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding1" contract="ForestFindr.Web.ServicesContracts.IXAML" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>